{% extends 'base.html' %}
{%block header%}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/blog" class="nav-link active">Blog</a></li>
<li class="nav-item"><a href="/tools" class="nav-link disabled">Tools</a></li>
{%endblock%}

{% block content %}
<div class="vw-100 bg-image justify-content-center" style="min-height:100vh;">
{%for post in posts%}
<div class="container mb-3 card shadow" style="min-height:25vh; max-width:90vw;">
    <div class="d-flex">
        <div class="m-2 h1 fw-bold card-title">{{ post.title}}</div>
        <div class="m-3 text-muted">{{ post.time }}</div>
        <div class="m-3">
            {% if current_user.is_authenticated %}
            <a class="btn btn-primary" type="submit" href="/postedit/{{post.id}}" method="POST">編集</a>
            <a class="btn btn-primary" type="submit" href="/delete/{{post.id}}" method="POST">削除</a>
            <a class="btn btn-primary" type="submit" href="/favorite/{{post.id}}" method="POST">ファボる</a>
            {%endif%}
        </div>
    </div>
    <hr class="hr">
    <p class="card-body">{{ post.body }}</p>
</div>
{% endfor %}
</div>
{% endblock %}