{% extends 'base.html' %}
{%block header%}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
<li class="nav-item"><a href="/tools" class="nav-link disabled">Tools</a></li>
{%endblock%}

{% block content %}
<div class="d-flex vh-100 vw-100 bg-image justify-content-center">
    <div class="align-items-center">
        {%if current_user.is_authenticated %}
        <p>既にログイン中です。</p>
        {%else%}
        <h4 class="h4 mt-3 fw-bold">ログイン</h4>
        <div class="container card" style="max-width:480px;">
            <form class="row" method="POST" action="/login">
                <div class="mb-3">
                    <label class="col-sm-3 col-form-label fw-bold" for="user_id">ユーザーID</label>
                    <input class="form-control" type="text" name="user_id" id="user_id" required>
                </div>
                <div class="mb-3">
                    <label class="col-sm-3 col-form-label fw-bold" for="password">パスワード</label>
                    <input class="form-control" type="password" name="password" id="password" required>
                </div>
                <div class="mb-3 mt-0 m-0 row">
                    <button type="submit" class="btn btn-primary form-control-lg fw-bold">ログイン</button>
                </div>
            </form>
        </div>
        {%endif%}
        <div class="container card-body mt-1" style="max-width:480px;">
            <p class="">新規登録は<a class="fw-bold" href="/signup">こちら</a>から。</p>
        </div>
    </div>
</div>
{%endblock%}