{%extends 'base.html'%}
{%block header%}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
<li class="nav-item"><a href="/tools" class="nav-link disabled">Tools</a></li>
{%endblock%}
{%block content%}
<div class="container">
    <p class="h4 fw-bold">投稿する</p>
    {%if error%}
    <p class="display-7 fw-bold" style="color: #F00;">{{error}}</p>
    {%endif%}
<form action="/newpost" method="POST">
    <div class="mb-3">
        <label class="form-label fw-bold" for="title">タイトル</label>
        <input class="form-control" type="text" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold" for="body">内容</label>
        <textarea class="form-control" name="body" rows="10"></textarea>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="投稿する">
    </div>
    
</form>
</div>
{%endblock%}