{%extends 'base.html'%}
{%block header%}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/blog" class="nav-link active">Blog</a></li>
<li class="nav-item"><a href="/tools" class="nav-link disabled">Tools</a></li>
<li class="nav-item"><a href="/newpost" class="nav-link">Post</a></li>
<li class="nav-item"><a href="/favorite" class="nav-link">Favorites</a></li>
{%endblock%}
{%block content%}
<div class="container">
    <p class="display-5">編集する</p>
    <p class="fw-bold" style="color: #F00">{{error}}</p>
    <form action="/postedit/{{ post.id }}" method="POST">
        <div class="mb-3">
            <label class="form-label fw-bold" for="title">タイトル</label>
            <input class="form-control" type="text" name="title" value="{{ post.title }}">
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold" for="body">内容</label>
            <textarea class="form-control" name="body" rows="10">{{ post.body }}</textarea>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="編集">
        </div>
    </form>
</div>
{%endblock%}