{% extends 'base.html' %}
{%block header%}
<li class="nav-item"><a href="/home" class="nav-link active">Home</a></li>
<li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
<li class="nav-item"><a href="/triangle" class="nav-link active">Tools</a></li>
<li class="nav-item"><a href="/newpost" class="nav-link">Post</a></li>
<li class="nav-item"><a href="/favorite" class="nav-link">Favorites</a></li>
{%endblock%}

{% block content %}
<div class="vh-100 vw-100 bg-image justify-content-center">
    <div class="container vw-100">
    <h1>じゃんけん</h1>
        <form method="POST" action="/triangle">
            <input class="btn btn-primary" type="submit" name="hand" value='グー'>
            <input class="btn btn-primary" type="submit" name="hand" value='チョキ'>
            <input class="btn btn-primary" type="submit" name="hand" value='パー'>
        </form>
    </div>
    {% if result %}
    <div class="container vw-100">
        <p>自分の手: {{ xhand[myhand] }}</p>
        <p>相手の手: {{ xhand[cphand] }}</p>

        <p>結果: {{ result }}</p>
    </div>
    {% endif %}

</div>
{% endblock %}