{% extends 'base.html' %}
{%block header%}
<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
<li class="nav-item"><a href="/triangle" class="nav-link active">RSP</a></li>
<li class="nav-item"><a href="/signup" class="nav-link">reg</a></li>
<li class="nav-item"><a href="/find" class="nav-link">find</a></li>
<li class="nav-item"><a href="#" class="nav-link">???</a></li>
{%endblock%}

{% block content %}
<div class="vh-100 vw-100 bg-image justify-content-center">
    <div class="container vw-100">
    <h1>じゃんけん</h1>
        <form method="POST" action="/triangle">
            <input class="btn btn-primary" type="submit" name="hand" value="グー">
            <input class="btn btn-primary" type="submit" name="hand" value="チョキ">
            <input class="btn btn-primary" type="submit" name="hand" value="パー">
        </form>
    </div>
    {% if result %}
    <div class="container vw-100">
        <p>自分の手: {{ myhand }}</p>
        <p>相手の手: {{ cphand }}</p>

        <p>結果: {{ result }}</p>
    </div>
    {% endif %}

</div>
{% endblock %}